*.sqlite3
**/node_modules/**
**/build/**
**/dist/**
**/cordova-app/platforms/
**/cordova-app/plugins/
ui/static/ui/gula/app/config.js
gula/static
gula/media
*.pyc
.coverage
coverage.xml
.idea/
.idea/*
**/idea/**
dump.rb
*db.sqlite3*
npm-debug.log
var
htmlcov
.env
.venv
*.swp
.vscode
start_emulator.bat
run_tests.bat
